<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>

<h1></h1>

  <% if @results%>
    <ol>
      <% @results.each do %>
        <li><%= @results %></li>
      <% end %>
   </ol>
  <% end %>

</body>
</html>

