.top {
  background-color: white;
  padding-top: 25px;
  padding-left: 10px;
  margin-top: -11px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 20px;
}
.body {
  background-color: #F5F5F1;
}
.etsy-title {
  color: #D94D1D; 
  font-size: 2em;
  font-weight: normal;
  margin-right: 8px;
}
.search-bar {
position: relative;
padding-bottom: 6px;
padding-top: 4px;
font-size: medium;
width: 33%;
height: 21px;
margin: -4px;
}
.search-button {
  position: relative;
  background-color: #64B6CF;
  border-color: #4CA0BA;
  font-size: medium;
  font-family: arial;
  color: white;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
}
.browse-button{
  position: relative;
  background-color: white;
  border-color: #E5E5E5;
  font-size: small;
  font-family: arial;
  color: black;
  font-weight: thin;
  padding-bottom: 6px;
  padding-top: 9px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 10px;
  cursor: pointer;

}
.help-bar {
  font-family: arial;
  color: #0192b5;
  position: relative;
  margin-left: 160px;
}
.register-bar {
  font-family: arial;
  color: #0192b5;
  position: relative;
  margin-left: 10px;
}
.sign-in-button {
  color: #0192b5;
  border-color: #0192b5;
  background-color: white;
  font-family: arial;
  font-size: medium;
  padding: 7px;
  cursor: pointer;
  margin-left: 10px;
}
.sidebar h4 {
  color: black;
}
.sidebar {
    position:absolute;
    top:103px; 
    padding-bottom: 15px;
    width:180px;
    background: white;
    margin-top: 50px;
    margin-left: 20px;
    font-family: arial;
    font-size: small;
    color: #64B6CF;
    padding-bottom: 5px;
    padding-left: 20px;
}
.sidebar li{
  padding-bottom: 5px;
  list-style: none;
}
.container {
  background-color: yellow;

}
.box {
  text-align: center;
  list-style: none;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.foot h4{
  width: 100px;
  font-family: arial;
  padding-left: 160px;
  font-weight: 200;
  color: black
}
.foot h4.two {
  margin-left: 80px;
  margin-top: -40px;
  font-family: arial;
  width: 125px;
  font-weight: bold;
  color: black;
}
.foot{
  position: absolute;
  margin-top: 80em;
  font-family: arial;
  list-style: none;
  color: #0192C2;
}
.a {
  margin-left: 10em;
  margin-bottom: 10px;
}
.heel{
  position: absolute;
  margin-top: 80em;
  font-family: arial;
  list-style: none;
  color: #0192C2
}
.b {
  margin-left: 22em;
  margin-top: 60px;
  margin-bottom: 10px;
}
.c {
  margin-left: 22em;
  margin-bottom: 10px;
}
.d {
  margin-left: 22em;
  margin-bottom: 10px;
}
.toe {
  position: absolute;
  margin-top: 80em;
  margin-left: 10em;
  font-family: arial;
  list-style: none;
  color: #0192C2
}
.e {
  margin-left: 22em;
  margin-bottom: 10px;
  margin-top: 60px
}
.f {
  margin-left: 22em;
  margin-bottom: 10px;
}
.g {
  margin-left: 22em;
  margin-bottom: 10px;
}







